<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Cari Pegawai</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
       	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
       	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js}"></script>
       	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
       	<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       	
<style>
	#kotakcari{
		margin-top:10px;
		margin-left:30px;
	}
	#kotak-hasil{
		margin-left : 30px;
		margin-right: auto;
		margin-top:15px;
	}
</style>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="row" id = "kotakcari">
		<div class ="col-md-5" >
			<div class="card" >
				<div class = "card-header" style = "font-size:20px">Cari Pegawai</div>
				<div class="card-body">
					
					<form th:action="@{/pegawai/cari}" method = "GET">
						<div class="form-group">
						    <label class="control-label col-sm-5" >Provinsi:</label>
						    <div class="col-sm-12">
							    <select class="form-control" id="provinsi2" name = "idProvinsi">
							    	<option th:value = null>- Pilih Provinsi -</option> 
							    	<a th:each="provinsi, iterationStatus : ${provinsi}">
								    	<option th:text = ${provinsi.nama} th:value = ${provinsi.id}></option>
							      	</a>
							    </select>
							</div>
						</div>
							  
						<div class="form-group">
						    <label class="control-label col-sm-5">Instansi:</label>
						    <div class="col-sm-12">
							    <select class="form-control" id="form-inst" name = "idInstansi">
							    	<option th:value = null>- Pilih Instansi -</option>
							      	<a th:each="instansi, iterationStatus : ${instansi}">
								      	<option class ="instansi" th:text = "${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" th:value = ${instansi.id}></option>
							      	</a>
							    </select>
							</div>
						 </div>
						
							
						<div class="form-group">
						    <label class="control-label col-sm-5">Jabatan:</label>
						    <div class="col-sm-12">
					    		<select class="form-control" id = "jabatan" name = "idJabatan"> 
					    			<option th:value = null>- Pilih Jabatan -</option>
							    	<a th:each="jabatan, iterationStatus : ${jabatan}">
								    	<option th:text = ${jabatan.nama} th:value = ${jabatan.id}></option>
							    </select>
							</div>	
						</div>						
						<button type="submit" class="btn btn-primary" >Cari</button>
					</div>
				</form>	
			</div>
		</div>
	</div>
	

	<div class="row" id = "kotak-hasil">
		<div class ="col-md-11">
			<div class="card" id = "kotak">
				<div class = "card-header">
					<h5>Daftar Pegawai</h5>
				</div>
	
				<div class="card-body">
					<table id="table_id2" class="display table table-striped" border = "I"  >
					    <thead>
					        <tr>
					            <th>NIP</th>
					            <th>Nama</th>
					            <th>Tempat Lahir</th>
					            <th>Tanggal Lahir</th>
					            <th>Tahun Masuk</th>
					            <th>Nama Instansi</th>
					            <th>Jabatan</th>
					        </tr>
					    </thead>
					    
						 <tbody>
							<tr th:each="pegawai, iterationStatus : ${pegawai}">
								<td th:text="${pegawai.nip}"></td>
								<td th:text="${pegawai.nama}"></td>
								<td th:text="${pegawai.tanggalLahir}"></td>
								<td th:text="${pegawai.tempatLahir}"></td>
								<td th:text="${pegawai.tahunMasuk}"></td>	
								<td th:text="${pegawai.instansi.nama}"></td>	
								<td>
									<div th:each="jabatan, iterationStatus : ${pegawai.listJabatan}">
					      				<div th:text="${iterationStatus.count} + '. ' + ${jabatan.nama}" ></div>
									</div>
								</td>			
							</tr>
						</tbody>
					       
					</table>
				</div>
			</div>
		</div>
	</div>		
</body>

<script>
	$(document).ready( function () {
	    $('#table_id2').DataTable();
	});
	
	$("#provinsi2").change(function(){
		console.log ("masuk sini del");
		var data = $(this).val();
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekInstansi",
			dataType : "json",
				success: function(json){
					var obj = JSON.stringify(json); 
					var objs = JSON.parse(obj);
					console.log(objs[0].nama);
					console.log ("disini");
					$(".instansi").remove();
					for (x in objs){
						console.log(objs[x]);
						$("#form-inst").append("<option class ='instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" value = "+ "'"+objs[x].id+"'"+">" + objs[x].nama + " - " + objs[x].provinsi.nama + "</option>");
						console.log (objs[x]);
						console.log("<option class ='instansi' name = 'instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" th:value = "+ "'"+objs[x].id+"'"+">"+objs[x].nama+"</option>");
					}
				}
		})
	});
</script>
</html>