<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<h2>Sistem Informasi Kepegawaian</h2>
		<p>Selamat datang di Sistem Informasi Kepegawaian</p>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Lihat Data Pegawai Berdasarkan NIP</div>
					<form th:action="@{/pegawai/}" method="GET">
						<div class="card-body">
							<label for="nip">Masukkan Nomor Induk Pegawai</label> <input
								type="text" name="nip" class="form-control" />
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
				<hr>
				<div class="card">
					<div class="card-header">Lihat Detail Jawaban</div>
					<form th:action="@{/jabatan/view}" method="GET">
						<div class="card-body">
							<div class="form-group">
								<label for="idJabatan">Pilih Jabatan</label>
								 <select class="form-control" name="idJabatan">
									<option th:each="jabatan : ${jabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
				<div class="card">
					<div class="card-header">Lihat Pegawai Tertua Dan Termuda</div>
					<form th:action="@{/pegawai/termuda-tertua}" method="GET">
						<div class="card-body">
							<div class="form-group">
								<label for="idInstansi">Pilih Instansi</label>
								 <select class="form-control" name="idInstansi">
									<option th:each="instansi : ${instansi}" th:value="${instansi.id}" th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div> 
			</div>
		</div>
	</div>
</body>
</html>